/* Dark mode toggle css - adapted from https://endtimes.dev/no-javascript-dark-mode-toggle/ */

:root {
    --bg: #fffff0;
    --text: black;
    --code-block-bg: #ffd7b5;
}

@media (prefers-color-scheme: dark) {
     :root {
        --bg: #1a2535;
        --text: white;
        --code-block-bg: #0d121b;
    }
}

#color-mode:checked~* {
    --bg: #1a2535;
    --text: white;
    --code-block-bg: #0d121b;
}

@media (prefers-color-scheme: dark) {
    #color-mode:checked~* {
        --bg: #fffff0;
        --text: black;
        --code-block-bg: #ffd7b5;
    }
}


input[type="checkbox"] {
    opacity: 0.00001;
    position: absolute;
}

html,
body {
    padding: 0;
    margin: 0;
}

.color-scheme-wrapper {
    padding: 5rem 1rem;
}

.color-scheme-wrapper {
    min-height: 100vh;
    max-width: 100vw;
    background: var(--bg);
    color: var(--text);
}

.light-mode-hide {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .dark-mode-hide {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .light-mode-hide {
        display: initial;
    }
}

label {
    user-select: none;
    cursor: pointer;
    position: absolute;
    background: var(--text);
    padding: 1rem;
    top: 1rem;
    left: 1rem;
    display: flex; 
    border-radius: 6px;
    color: var(--bg);
}

label:after {
    content: "\2713";
    height: 1.2rem;
    width: 1.2rem;
    margin-left: 1rem;
    border: solid 2px var(--bg);
    text-align: center;
    border-radius: 4px;
    color: transparent;
}

#color-mode:checked+label:after {
    color: var(--bg);
}


/* End of dark mode toggle */

body {
    font-size: large;
}

p {
  max-width: 800px;
}

.code-block {
    background-color: var(--code-block-bg);
    max-width: 800px;
    padding: 1em;
    overflow-x: scroll;
}

@media (min-width: 800px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

code {
    white-space: nowrap;
}